[submodule "fassade_designs"]
	path = fassade_designs
	url = https://github.com/Gawasinspire/fassade_designs
[submodule "StriveSchool"]
	path = StriveSchool
	url = https://github.com/Gawasinspire/StriveSchool
[submodule "SeriousGame"]
	path = SeriousGame
	url = https://github.com/Gawasinspire/SeriousGame
[submodule "Weather_prediction_Australia"]
	path = Weather_prediction_Australia
	url = https://github.com/Gawasinspire/Weather_prediction_Australia
